MONGODB_URI=mongodb://127.0.0.1:27017/12Properties
SESSION_SECRET=your-very-secure-secret-key
ALLOWED_ORIGINS=http://localhost:3000,https://yourproduction.domain.com
NODE_ENV=Development
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-smtp-password
SMTP_FROM=your-email@example.com